
# Ignore system files
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.log
*.sqlite

# Ignore cache & temp files
.cache/
.local/
.venv/
virtualenvs/

# Ignore unwanted repositories
aai-540-homework/
aai-540-labs/

